<%= div_for idea do %>
  <div class="large-12 columns border border-box glassy-bg mt pt">
    <strong><%= h(idea.id) %></strong><br />
    <sup class="text-muted">From <%= time_ago_in_words(idea.created_at)%></sup><br />
    <div class="mb pb">
      <%= h(idea.description) %>
    </div>
    <div class="tags">
      <%=raw tag_links(idea.all_tags)%>
    </div>
  </div>
<% end %>
