<div class="row text-center">
  <%= form_for(Idea.new, remote: true) do |f| %>
    <div class="large-10 large-centered columns">
      <%= f.text_area :description, placeholder: "Your idea", rows: 5 %>
    </div>
    <div class="large-10 large-centered columns">
      <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
    </div>
        <div class="large-10 large-centered columns">
      <%= f.text_field :user_id, value: current_user.id, placeholder: "Код пользователя" %>
    </div>
    <div class="large-10 large-centered columns">
      <%= f.submit "Отправить", class: "button"%>
    </div>
  <% end %>
</div>
