<h2><%= t :edit_idea %></h2>

<%= form_for(@idea) do |f| %>
  <div class="field">
    <%= f.label (t :your_idea) %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit (t :edit_idea) %>
  </div>
<% end %>
