<h2>
  <%= t :list_idea %>
</h2>

<table>
  <tr>
    <th><%= t :description %></th>
    <th><%= t :actions %></th>
  </tr>

  <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.description %></td>
      <td>
        <%= link_to (t :show), idea_path(idea) %>
        <%= link_to (t :edit), edit_idea_path(idea) %>
        <%= link_to (t :delete), idea_path(idea), method: :delete, data: { confirm: (t :confirm_del) } %>
      </td>
    </tr>
  <% end %>
</table>
