<h2> <%= t :add_idea %></h2>

<%= form_for(@idea) do |f| %>
  <div class="field">
    <%= f.label (t :add_idea) %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit t :idea_create %>
  </div>
<% end %>
