<h2><%= t :show_card_title %></h2>
<p><%= t :original_text %>: <%= @card.original_text %></p>
<p><%= t :translated_text %>: <%= @card.translated_text %></p>
<p><%= t :review_date %>: <%= @card.review_date %></p>