<!DOCTYPE html>
<html>
<head>
  <title><%= t :ideagenerator %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <li><%= link_to (t :all_ideas), ideas_path %></li>
  <li><%= link_to (t :add_idea), new_idea_path %></li>
</body>
</html>
