<!DOCTYPE html>
<html>
<head>
  <title>IdeaMachine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  <li><%= link_to "Все идеи", ideas_path %></li>
  <li><%= link_to "Создать идею", new_idea_path %></li>
</body>
</html>

